<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CosmosURI" value="https://mbeesley-log.documents.azure.com:443/"/>
    <add key="CosmosKey" value="awfYxcHISzbhwT8J9jsuvvYMmIHsAiIIcQYzRVl1IB6X5uRlaOt1nAFE1Y8HaWnqJdMmLi0owtbP0ZW4DO8viw=="/>
  </appSettings>
</configuration>